.Contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.info {
    padding: 0px;
    list-style: none;
}

.info li {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}

.info li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #dddddd;
    margin-right: 10px;
}